<!DOCTYPE html>
<html>
<head>
    <title>Мини Опрос</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="stylesheets/style.css" rel="stylesheet">
    <script language="javascript">
        var items=4;
        function AddItem(item) {
            if ((item == 30) || (item != items)) {
                return;
            }
            var div = document.getElementById("pollBody");
            var button = document.getElementById("Add");
            items++;
            var newitem = "<span>" + items + ". </span>";
            newitem += "<input type=\"text\" placeholder=\"Введите вариант ответа...\" onkeypress =\"AddItem(" + items + ")\" name=\"Option " + items;
            newitem += "\" size=\"20\">";
            newnode = document.createElement("div");
            newnode.className = "pollOption";
            newnode.innerHTML = newitem;
            div.insertBefore(newnode, button);
        }
    </script>
    <script language="javascript">

        function createVoting() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/createPoll',true);
            var data = createData();
            if (data == 0) {
                return;
            }
            xhr.send(data);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    if(xhr.status == 200) {
                        var o = document.createElement('div');
                        o.className ="b-popup-content";
                        o.innerHTML = '<div class=\"b-popup\" id=\"popup1\"><div class=\"b-popup-content\"><span> Ваш вопрос был создан и теперь доступен:</span><div><a href="'+xhr.responseText+'">'+xhr.responseText+'</a></div></div></div>';
                        document.body.appendChild(o);
                    }
                }
            };


        };
         function createData(){
           var option = [];
           var space = false;
            $('input', '.pollOption').each(function(index, item) {
                if (item.value !="") {
                    if (item.value != ' ') {
                        option.push(item.value);
                    }
                }
            });
            var multis=document.getElementById("pollMulti").checked;
            var ips = document.getElementById("pollPermissive").checked;
             if (($('#quest').val() =="") || (option.length <= 1)) {
                   alert('Заполните поле вопрос и заполните более 2-х вариантов ответа');
                 return 0;
             }
            return JSON.stringify({quest: $('#quest').val(), options: option, multi: multis, ip: ips});
        }
    </script>
</head>

<body>
<div class="wrapper">

    <header class="header">
        <a class = title href="/">Мини Опрос</a>
    </header><!-- .header-->

    <div class="middle">
        <div class="container">
            <main class="content">
                <div id = pollForm>
                    <div id = pollHeader>
                        <textarea type="text" placeholder="Введите вопрос здесь, а варианты ответов ниже" id="quest"></textarea>
                    </div>
                    <div id="pollBody">
                        <div class="pollOption">
                            <span>1.</span>
                            <input type="text" placeholder="Введите вариант ответа..." name="Option_1" size = 20>
                        </div>
                        <div class="pollOption">
                            <span>2.</span>
                            <input type="text" placeholder="Введите вариант ответа..." name="Option_2" size = 20>
                        </div>
                        <div class="pollOption">
                            <span>3.</span>
                            <input type="text" placeholder="Введите вариант ответа..." name="Option_3" size = 20>
                        </div>
                        <div class="pollOption">
                            <span>4.</span>
                            <input type="text" placeholder="Введите вариант ответа..." onkeypress="AddItem(4)" name="Option_4" size = 20>
                        </div>
                    </div>
                    <div id="pollFooter">
                        <br>
                        <button id="pollCreateButton" onclick ="createVoting()">
                            Создать опрос
                        </button>
                    </div>
                </div>
            </main><!-- .content -->
        </div><!-- .container-->
    </div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
    <div id="pollFooter">
        <input type="checkbox" id="pollMulti" name="pass">
        <label for="pollMulti">Разрешить несколько вариантов ответа?</label>
        <br>
        <input type="checkbox" id="pollPermissive" name="ip">
        <label for="pollPermissive">Разрешить повторное прохождение опроса?</label>
                <div id = autor>
                    <a href="https://github.com/LedenevRoman">Автор: DisBalance</a>
                </div>
    </div>
    <div id="links">
        <a href="http://proteys.info/404/">Условия поставления услуг</a> |
        <a href="http://proteys.info/404/">Политика конфиденциальности</a>
    </div>
    </div>
</footer><!-- .footer -->
<div id="popup">

</div>
</body>
</html>