<!DOCTYPE html>
<html>
<head>
    <title>Мини Опрос</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="stylesheets/style.css" rel="stylesheet">
    <script language="javascript">
        function vote() {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/vote', true);
            var data = createVote();
            if (data == 0) {
                alert('Выберите вариант ответа и нажмите кнопку "Голосовать"');
                return;
            }
            xhr.send(data);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        alert(xhr.responseText);
                    }
                }
            };
        };
        function createVote(){
            var value = [];
            var input = document.getElementsByTagName('input');
            for (var i = 0; i < input.length; i++) {
                if ((input[i].type === 'radio' && input[i].checked && input[i].name === 'radio') ||
                    (input[i].type === 'checkbox' && input[i].checked && input[i].name === 'checkbox')){
                    value.push(input[i].value);
                }
            }
            if (value.length == 0){
                return 0;
            }
            var s = window.location.pathname;
            var n = s.substring(1, s.length);
            return JSON.stringify({id:n, value:value});
        }
    </script>
</head>

<body>
<div class="wrapper">

    <header class="header">
        <a class = title href="/">Мини Опрос</a>
    </header><!-- .header-->

    <div class="middle">
        <div class="container">
            <main class="content">
                <div id = pollForm>
                    <div id = pollHeader>
                        <textarea type="text" id="quest" readonly><%=quest%></textarea>
                    </div>
                    <div id="pollBody">
                       <%for(i=0;i<options.length;i++){%>
                        <div class="pollOption">
                            <%if (!mult_pass){%>
                            <input type="radio" id="radio" value="<%=i+1%>"  name ="radio">
                            <%}else{%>
                            <input type="checkbox" value ="<%=i+1%>" id="checkbox" name="checkbox">
                            <%}%>
                            <input type="text" value=<%=options[i]%> name="text" readonly  size = 20>
                        </div>
                        <%}%>
                        </div>
                    <div id="pollFooter">
                        <br>
                        <button id="pollVote" onclick ="vote()">
                            Голосовать
                        </button>
                        <span>             </span>
                        <button id="pollResult" onclick ="createVoting()">
                            Результаты
                        </button>
                    </div>
                </div>
            </main><!-- .content -->
        </div><!-- .container-->
    </div><!-- .middle-->

</div><!-- .wrapper -->

<footer class="footer">
    <div id="pollFooter">
        <label for="pollMulti"></label>
        <br>
        <label for="pollPermissive"></label>
        <div id = autor>
            <a href="https://github.com/LedenevRoman">Автор: DisBalance</a>
        </div>
    </div>
    <div id="links">
        <a href="http://proteys.info/404/">Условия поставления услуг</a> |
        <a href="http://proteys.info/404/">Политика конфиденциальности</a>
    </div>
    </div>
</footer><!-- .footer -->
<div id="popup">

</div>
</body>
</html>